nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="navCtrl")
  .container
    .navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/#/') Deft-Net
    .collapse.navbar-collapse(collapse="isCollapsed")
      ul.nav.navbar-nav
        li(ng-class='{ active: isActive("/") }')
          a(href='/#/') Home
        li(ng-class='{ active: isActive("/about") }')
          a(href='/#/about') About
        li(ng-class='{ active: isActive("/portfolio/codepen") }')
          a(href='/portfolio/codepen') Portfolio
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default Search
      ul.nav.navbar-nav.navbar-right(ng-show='identity.isAuthenticated()')
        li
          .btn-group(dropdown)
            button.btn.btn-primary.dropdown-toggle(dropdown-toggle) Welcome {{ identity.currentUser.firstname }} &nbsp;
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='/#/account/profile') Profile
              li.divider
              li
                a(href='/#/', ng-click='signout()') Sign out
      ul.nav.navbar-nav.navbar-right(ng-hide='identity.isAuthenticated()')
        li(ng-class='{ active: isActive("/account/signup") }')
          a(href='/#/account/signup') Sign Up
        li(ng-class='{ active: isActive("/account/signin") }')
          a(href='/#/account/signin') Sign In