nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="navCtrl")
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Deft-Net
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class='{ active: isActive("/") }')
          a(href='/') Home
        li(ng-class='{ active: isActive("/about") }')
          a(href='/about') About
        li(ng-class='{ active: isActive("/portfolio") }')
          a(href='/portfolio') Portfolio
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default Search
      ul.nav.navbar-nav.navbar-right
        li(ng-class='{ active: isActive("/account/signup") }')
          a(href='/account/signup') Sign Up
        li(ng-class='{ active: isActive("/account/signin") }')
          a(href='/account/signin') Sign In
        li
          a(href='#') Welcome ...
