.row
    .col-lg-6
        p.codepen(data-height="300", data-theme-id="11988", data-slug-hash="RNjPqe", data-default-tab="result", data-user="DDN-Shep")
    .col-lg-6
        p.codepen(data-height="300", data-theme-id="11988", data-slug-hash="empQZj", data-default-tab="result", data-user="DDN-Shep")
.row
    .col-lg-6
        p.codepen(data-height="300", data-theme-id="11988", data-slug-hash="QwrbmQ", data-default-tab="result", data-user="DDN-Shep")
    .col-lg-6
        p.codepen(data-height="300", data-theme-id="11988", data-slug-hash="pvggaX", data-default-tab="result", data-user="DDN-Shep")
.row
    .col-lg-6
        p.codepen(data-height="300", data-theme-id="11988", data-slug-hash="ogdGgO", data-default-tab="result", data-user="DDN-Shep")
    .col-lg-6
        p.codepen(data-height="300", data-theme-id="11988", data-slug-hash="VYrgjb", data-default-tab="result", data-user="DDN-Shep")

block script
    script(src="//assets.codepen.io/assets/embed/ei.js", async)

