extends ../../shared/layout

block content
    section.intro
        h1 Multiple Sticky Titles with CSS and AngularJS
        p As you scroll through the list, the current heading follows you until you reach the next one at which point the current one is pushed up and the new heading docks to the top.
    section.demo
