.well
   h4 Categories
   .row
      .col-lg-6
         ul.list-group
            li.list-group-item
                span.badge {{ category.count }}
                a(href='{{ category.url }}') {{ category.name }}
      .col-lg-6
         ul.list-group
            li.list-group-item
                span.badge {{ category.count }}
                a(href='{{ category.url }}') {{ category.name }}
