.well
   h4 About Me
   p.lead
      img.ddn-padding(src='/images/shepsmall.png', alt='...', width='75')
      a.ddn-budge-right(href='#') Andrew Sheppard
   p LinkedIn
   p GitHub
   p Portfolio
   p CodePen