.well
   h4 About me
   p.lead
      img.ddn-padding(src='/images/shepsmall.png', alt='...', width='75')
      a.ddn-budge-right(href='#') Andrew Sheppard
   p
      i.fa.fa-linkedin-square
      |  My profile
   p
      i.fa.fa-github
      |  My repositories
   p
      i.fa.fa-codepen
      |  My pens

   //script(src="https://platform.linkedin.com/in.js", type="text/javascript")
   //script(type="IN/MemberProfile", data-id="https://www.linkedin.com/pub/andrew-sheppard/17/488/30b", data-format="click", data-text="Andrew Sheppard", data-related="false")
