form.form-horizontal
   fieldset
      legend Registration form
      .form-group
         label.col-sm-2.control-label(for='email') Email Address
         .col-sm-10
            input.form-control(id='email', name='email', type='email', placeholder='Email', maxlength='100', required)
            p.help-block Please enter your username / email address
      .form-group
         label.col-sm-2.control-label(for='firstname') Firstname
         .col-sm-10
            input.form-control(id='firstname', name='firstname', type='text', placeholder='Firstname', maxlength='100')
            p.help-block Please enter your first name
      .form-group
         label.col-sm-2.control-label(for='surname') Surname
         .col-sm-10
            input.form-control(id='surname', name='surname', type='text', placeholder='Surname', maxlength='100')
            p.help-block Please enter your surname
      .form-group
         label.col-sm-2.control-label(for='password') Password
         .col-sm-10
            input.form-control(id='password', name='password', type='password', placeholder='Password', minlength='8', maxlength='50', required)
            p.help-block Please enter a secure password
      .form-group
         label.col-sm-2.control-label(for='confirm') Confirm Password
         .col-sm-10
            input.col-sm-2.form-control(id='confirm', name='confirm', type='password', placeholder='Confirm Password', minlength='8', maxlength='50', required)
            p.help-block Please confirm the secure password
      .form-group
         .col-sm-offset-2.col-sm-10
            button.btn.btn-primary(id='signup', name='signup', type='submit') Sign Up