* {
    box-sizing: border-box;
}
body {
    background-color: #000;
    overflow: hidden;
}
.clear-fix {
    float: none;
    clear: both;
}
.space-invader {
    background-color: #fff;
    float: left;
    width: 0.5em;
    height: 0.5em;
    margin: 75px 125px;
}
.space-invader-defender {
    box-shadow:
    0 0 0 1em #fff,
    2.5em 0 0 1em #fff,
    -2.5em 0 0 1em #fff,
    4em .25em 0 .75em #fff,
    -4em .25em 0 .75em #fff,
    0 -1em 0 1em #fff,
    0 -2.5em 0 0 #fff;
}
.space-invader-ufo {
    margin: 75px -150px;
    box-shadow:
        /* Body */
    -1em -2.5em 0 .5em #fff,
    1em -2.5em 0 .5em #fff,
    -1em -1.5em 0 .5em #fff,
    -3em -1.5em 0 .5em #fff,
    -4em -1.5em 0 .5em #fff,
    1em -1.5em 0 .5em #fff,
    3em -1.5em 0 .5em #fff,
    4em -1.5em 0 .5em #fff,
    0 .5em 0 .5em #fff,
    -3em .5em 0 .5em #fff,
    3em .5em 0 .5em #fff,
    -1.5em 1em 0 0 #fff,
    -4.5em 1em 0 0 #fff,
    1.5em 1em 0 0 #fff,
    4.5em 1em 0 0 #fff,
    5.5em -1em 0 0 #fff,
    6em .5em 0 .5em #fff,
    7.5em 1em 0 0 #fff,
    -5.5em -1em 0 0 #fff,
    -6em .5em 0 .5em #fff,
    -7.5em 1em 0 0 #fff,
    0 1.5em 0 .5em #fff,
    5em 1.5em 0 .5em #fff,
    4em 1.5em 0 .5em #fff,
    4.5em 3em 0 0 #fff,
    -5em 1.5em 0 .5em #fff,
    -4em 1.5em 0 .5em #fff,
    -4.5em 3em 0 0 #fff;
}
.space-invader-1 {
    box-shadow:
    0 0 0 .5em #fff,
    0 .5em 0 .5em #fff,
    -1.25em .75em 0 .25em #fff,
    1.25em .75em 0 .25em #fff,
    -1.5em -1.5em 0 0 #fff,
    1.5em -1.5em 0 0 #fff,
    -1em -1em 0 0 #fff,
    1em -1em 0 0 #fff,
    -1.5em -.5em 0 0 #fff,
    -1em -.5em 0 0 #fff,
    1em -.5em 0 0 #fff,
    1.5em -.5em 0 0 #fff,
    -2em 0 0 0 #fff,
    -1.5em 0 0 0 #fff,
    1.5em 0 0 0 #fff,
    2em 0 0 0 #fff,
    -2em .5em 0 0 #fff,
    2em .5em 0 0 #fff,
    -1.5em 1.5em 0 0 #fff,
    1.5em 1.5em 0 0 #fff,
        /* Left Arm */
    2.5em .5em 0 0 #fff,
    2.5em 1em 0 0 #fff,
    2.5em 1.5em 0 0 #fff,
        /* Right Arm */
    -2.5em .5em 0 0 #fff,
    -2.5em 1em 0 0 #fff,
    -2.5em 1.5em 0 0 #fff,
        /* Left Foot */
    -.5em 2em 0 0 #fff,
    -1em 2em 0 0 #fff,
        /* Right Foot */
    .5em 2em 0 0 #fff,
    1em 2em 0 0 #fff;
}
.space-invader-2 {
    box-shadow:
        /* Body */
    -.5em -2em 0 1em #fff,
    .5em -2em 0 1em #fff,
    -3em -1.5em 0 .5em #fff,
    -3.5em -1.5em 0 .5em #fff,
    3em -1.5em 0 .5em #fff,
    3.5em -1.5em 0 .5em #fff,
    -4em 0 0 1em #fff,
    4em 0 0 1em #fff,
    -2em 1em 0 0 #fff,
    -1em 1em 0 0 #fff,
    0 1em 0 0 #fff,
    1em 1em 0 0 #fff,
    2em 1em 0 0 #fff,
        /* Crotch */
    1.25em 2em 0 0 #fff,
    2em 2em 0 0 #fff,
    2em 2em 0 0 #fff,
    -1.25em 2em 0 0 #fff,
    -2em 2em 0 0 #fff,
    -2em 2em 0 0 #fff,
    .25em 3em 0 0 #fff,
    -.25em 3em 0 0 #fff,
        /* Right Leg */
    -2.5em 3em 0 0 #fff,
    -3.25em 3em 0 0 #fff,
    -4.25em 4em 0 0 #fff,
    -5em 4em 0 0 #fff,
        /* Left Leg */
    2.5em 3em 0 0 #fff,
    3.25em 3em 0 0 #fff,
    4.25em 4em 0 0 #fff,
    5em 4em 0 0 #fff;
}
.space-invader-3 {
    box-shadow:
        /* Body */
    0 -2.5em 0 .5em #fff,
    -1em -1.5em 0 .5em #fff,
    1em -1.5em 0 .5em #fff,
    2.5em -1em 0 0 #fff,
    -2.5em -1em 0 0 #fff,
    0 .5em 0 .5em #fff,
    -3em .5em 0 .5em #fff,
    3em .5em 0 .5em #fff,
    1.5em 1em 0 0 #fff,
    -1.5em 1em 0 0 #fff,
        /* Crotch */
    .5em 2em 0 0 #fff,
    -.5em 2em 0 0 #fff,
        /* Right Leg */
    -2.5em 2em 0 0 #fff,
    -3.5em 3em 0 0 #fff,
    -2.5em 4em 0 0 #fff,
    -2.5em 4em 0 0 #fff,
        /* Left Leg */
    2.5em 2em 0 0 #fff,
    3.5em 3em 0 0 #fff,
    2.5em 4em 0 0 #fff,
    2.5em 4em 0 0 #fff;
}

.space-invader.animate {
    -webkit-animation: 1s step-end infinite;
    -moz-animation: 1s step-end infinite;
    -ms-animation: 1s step-end infinite;
    animation: 1s step-end infinite;
}
.space-invader-defender.animate {
    -webkit-animation: space-invader-ufo 20s 3s linear infinite alternate;
    -moz-animation: space-invader-ufo 20s 3s linear infinite alternate;
    -ms-animation: space-invader-ufo 20s 3s linear infinite alternate;
    animation: space-invader-ufo 20s 3s linear infinite alternate;
}
.space-invader-ufo.animate {
    -webkit-animation: space-invader-ufo 20s 3s linear infinite alternate;
    -moz-animation: space-invader-ufo 20s 3s linear infinite alternate;
    -ms-animation: space-invader-ufo 20s 3s linear infinite alternate;
    animation: space-invader-ufo 20s 3s linear infinite alternate;
}
.space-invader-1.animate {
    -webkit-animation-name: space-invader-1;
    -moz-animation-name: space-invader-1;
    -ms-animation-name: space-invader-1;
    animation-name: space-invader-1;
}
.space-invader-2.animate {
    -webkit-animation-name: space-invader-2;
    -moz-animation-name: space-invader-2;
    -ms-animation-name: space-invader-2;
    animation-name: space-invader-2;
}
.space-invader-3.animate {
    -webkit-animation-name: space-invader-3;
    -moz-animation-name: space-invader-3;
    -ms-animation-name: space-invader-3;
    animation-name: space-invader-3;
}

@-webkit-keyframes space-invader-ufo {
    50% {
        margin-left: 150%
    }
}

@-webkit-keyframes space-invader-1 {
    50% {
        box-shadow:
        0 0 0 1em #fff,
        0 1em 0 1em #fff,
        -2.5em 1.5em 0 .5em #fff,
        2.5em 1.5em 0 .5em #fff,
        -3em -3em 0 0 #fff,
        3em -3em 0 0 #fff,
        -2em -2em 0 0 #fff,
        2em -2em 0 0 #fff,
        -3em -1em 0 0 #fff,
        -2em -1em 0 0 #fff,
        2em -1em 0 0 #fff,
        3em -1em 0 0 #fff,
        -4em 0 0 0 #fff,
        -3em 0 0 0 #fff,
        3em 0 0 0 #fff,
        4em 0 0 0 #fff,
        -4em 1em 0 0 #fff,
        4em 1em 0 0 #fff,
        -3em 3em 0 0 #fff,
        3em 3em 0 0 #fff,
            /* Left Arm */
        5em 0 0 0 #fff,
        5em -1em 0 0 #fff,
        5em -2em 0 0 #fff,
            /* Right Arm */
        -5em 0 0 0 #fff,
        -5em -1em 0 0 #fff,
        -5em -2em 0 0 #fff,
            /* Left Foot */
        -4em 4em 0 0 #fff,
        -4em 4em 0 0 #fff,
            /* Right Foot */
        4em 4em 0 0 #fff,
        4em 4em 0 0 #fff;
    }
}

@-webkit-keyframes space-invader-2 {
    50% {
        box-shadow:
            /* Body */
        -.5em -2em 0 1em #fff,
        .5em -2em 0 1em #fff,
        -3em -1.5em 0 .5em #fff,
        -3.5em -1.5em 0 .5em #fff,
        3em -1.5em 0 .5em #fff,
        3.5em -1.5em 0 .5em #fff,
        -4em 0 0 1em #fff,
        4em 0 0 1em #fff,
        -2em 1em 0 0 #fff,
        -1em 1em 0 0 #fff,
        0 1em 0 0 #fff,
        1em 1em 0 0 #fff,
        2em 1em 0 0 #fff,
            /* Crotch */
        1.25em 2em 0 0 #fff,
        2em 2em 0 0 #fff,
        2.5em 2em 0 0 #fff,
        -1.25em 2em 0 0 #fff,
        -2em 2em 0 0 #fff,
        -2.5em 2em 0 0 #fff,
        .25em 3em 0 0 #fff,
        -.25em 3em 0 0 #fff,
            /* Right Leg */
        -3em 3em 0 0 #fff,
        -3.75em 3em 0 0 #fff,
        -3em 4em 0 0 #fff,
        -2em 4em 0 0 #fff,
            /* Left Leg */
        3em 3em 0 0 #fff,
        3.75em 3em 0 0 #fff,
        3em 4em 0 0 #fff,
        2em 4em 0 0 #fff;
    }
}

@-webkit-keyframes space-invader-3 {
    50% {
        box-shadow:
            /* Body */
        0 -2.5em 0 .5em #fff,
        -1em -1.5em 0 .5em #fff,
        1em -1.5em 0 .5em #fff,
        2.5em -1em 0 0 #fff,
        -2.5em -1em 0 0 #fff,
        0 .5em 0 .5em #fff,
        -3em .5em 0 .5em #fff,
        3em .5em 0 .5em #fff,
        1.5em 1em 0 0 #fff,
        -1.5em 1em 0 0 #fff,
            /* Crotch */
        .5em 3em 0 0 #fff,
        -.5em 3em 0 0 #fff,
            /* Right Leg */
        -1.5em 2em 0 0 #fff,
        -2.5em 3em 0 0 #fff,
        -3.5em 4em 0 0 #fff,
        -1.5em 4em 0 0 #fff,
            /* Left Leg */
        1.5em 2em 0 0 #fff,
        2.5em 3em 0 0 #fff,
        3.5em 4em 0 0 #fff,
        1.5em 4em 0 0 #fff;
    }
}

@-moz-keyframes space-invader-ufo {
    50% {
        margin-left: 150%
    }
}

@-moz-keyframes space-invader-1 {
    50% {
        box-shadow:
        0 0 0 1em #fff,
        0 1em 0 1em #fff,
        -2.5em 1.5em 0 .5em #fff,
        2.5em 1.5em 0 .5em #fff,
        -3em -3em 0 0 #fff,
        3em -3em 0 0 #fff,
        -2em -2em 0 0 #fff,
        2em -2em 0 0 #fff,
        -3em -1em 0 0 #fff,
        -2em -1em 0 0 #fff,
        2em -1em 0 0 #fff,
        3em -1em 0 0 #fff,
        -4em 0 0 0 #fff,
        -3em 0 0 0 #fff,
        3em 0 0 0 #fff,
        4em 0 0 0 #fff,
        -4em 1em 0 0 #fff,
        4em 1em 0 0 #fff,
        -3em 3em 0 0 #fff,
        3em 3em 0 0 #fff,
            /* Left Arm */
        5em 0 0 0 #fff,
        5em -1em 0 0 #fff,
        5em -2em 0 0 #fff,
            /* Right Arm */
        -5em 0 0 0 #fff,
        -5em -1em 0 0 #fff,
        -5em -2em 0 0 #fff,
            /* Left Foot */
        -4em 4em 0 0 #fff,
        -4em 4em 0 0 #fff,
            /* Right Foot */
        4em 4em 0 0 #fff,
        4em 4em 0 0 #fff;
    }
}

@-moz-keyframes space-invader-2 {
    50% {
        box-shadow:
            /* Body */
        -.5em -2em 0 1em #fff,
        .5em -2em 0 1em #fff,
        -3em -1.5em 0 .5em #fff,
        -3.5em -1.5em 0 .5em #fff,
        3em -1.5em 0 .5em #fff,
        3.5em -1.5em 0 .5em #fff,
        -4em 0 0 1em #fff,
        4em 0 0 1em #fff,
        -2em 1em 0 0 #fff,
        -1em 1em 0 0 #fff,
        0 1em 0 0 #fff,
        1em 1em 0 0 #fff,
        2em 1em 0 0 #fff,
            /* Crotch */
        1.25em 2em 0 0 #fff,
        2em 2em 0 0 #fff,
        2.5em 2em 0 0 #fff,
        -1.25em 2em 0 0 #fff,
        -2em 2em 0 0 #fff,
        -2.5em 2em 0 0 #fff,
        .25em 3em 0 0 #fff,
        -.25em 3em 0 0 #fff,
            /* Right Leg */
        -3em 3em 0 0 #fff,
        -3.75em 3em 0 0 #fff,
        -3em 4em 0 0 #fff,
        -2em 4em 0 0 #fff,
            /* Left Leg */
        3em 3em 0 0 #fff,
        3.75em 3em 0 0 #fff,
        3em 4em 0 0 #fff,
        2em 4em 0 0 #fff;
    }
}

@-moz-keyframes space-invader-3 {
    50% {
        box-shadow:
            /* Body */
        0 -2.5em 0 .5em #fff,
        -1em -1.5em 0 .5em #fff,
        1em -1.5em 0 .5em #fff,
        2.5em -1em 0 0 #fff,
        -2.5em -1em 0 0 #fff,
        0 .5em 0 .5em #fff,
        -3em .5em 0 .5em #fff,
        3em .5em 0 .5em #fff,
        1.5em 1em 0 0 #fff,
        -1.5em 1em 0 0 #fff,
            /* Crotch */
        .5em 3em 0 0 #fff,
        -.5em 3em 0 0 #fff,
            /* Right Leg */
        -1.5em 2em 0 0 #fff,
        -2.5em 3em 0 0 #fff,
        -3.5em 4em 0 0 #fff,
        -1.5em 4em 0 0 #fff,
            /* Left Leg */
        1.5em 2em 0 0 #fff,
        2.5em 3em 0 0 #fff,
        3.5em 4em 0 0 #fff,
        1.5em 4em 0 0 #fff;
    }
}

@-ms-keyframes space-invader-ufo {
    50% {
        margin-left: 150%
    }
}

@-ms-keyframes space-invader-1 {
    50% {
        box-shadow:
        0 0 0 1em #fff,
        0 1em 0 1em #fff,
        -2.5em 1.5em 0 .5em #fff,
        2.5em 1.5em 0 .5em #fff,
        -3em -3em 0 0 #fff,
        3em -3em 0 0 #fff,
        -2em -2em 0 0 #fff,
        2em -2em 0 0 #fff,
        -3em -1em 0 0 #fff,
        -2em -1em 0 0 #fff,
        2em -1em 0 0 #fff,
        3em -1em 0 0 #fff,
        -4em 0 0 0 #fff,
        -3em 0 0 0 #fff,
        3em 0 0 0 #fff,
        4em 0 0 0 #fff,
        -4em 1em 0 0 #fff,
        4em 1em 0 0 #fff,
        -3em 3em 0 0 #fff,
        3em 3em 0 0 #fff,
            /* Left Arm */
        5em 0 0 0 #fff,
        5em -1em 0 0 #fff,
        5em -2em 0 0 #fff,
            /* Right Arm */
        -5em 0 0 0 #fff,
        -5em -1em 0 0 #fff,
        -5em -2em 0 0 #fff,
            /* Left Foot */
        -4em 4em 0 0 #fff,
        -4em 4em 0 0 #fff,
            /* Right Foot */
        4em 4em 0 0 #fff,
        4em 4em 0 0 #fff;
    }
}

@-ms-keyframes space-invader-2 {
    50% {
        box-shadow:
            /* Body */
        -.5em -2em 0 1em #fff,
        .5em -2em 0 1em #fff,
        -3em -1.5em 0 .5em #fff,
        -3.5em -1.5em 0 .5em #fff,
        3em -1.5em 0 .5em #fff,
        3.5em -1.5em 0 .5em #fff,
        -4em 0 0 1em #fff,
        4em 0 0 1em #fff,
        -2em 1em 0 0 #fff,
        -1em 1em 0 0 #fff,
        0 1em 0 0 #fff,
        1em 1em 0 0 #fff,
        2em 1em 0 0 #fff,
            /* Crotch */
        1.25em 2em 0 0 #fff,
        2em 2em 0 0 #fff,
        2.5em 2em 0 0 #fff,
        -1.25em 2em 0 0 #fff,
        -2em 2em 0 0 #fff,
        -2.5em 2em 0 0 #fff,
        .25em 3em 0 0 #fff,
        -.25em 3em 0 0 #fff,
            /* Right Leg */
        -3em 3em 0 0 #fff,
        -3.75em 3em 0 0 #fff,
        -3em 4em 0 0 #fff,
        -2em 4em 0 0 #fff,
            /* Left Leg */
        3em 3em 0 0 #fff,
        3.75em 3em 0 0 #fff,
        3em 4em 0 0 #fff,
        2em 4em 0 0 #fff;
    }
}

@-ms-keyframes space-invader-3 {
    50% {
        box-shadow:
            /* Body */
        0 -2.5em 0 .5em #fff,
        -1em -1.5em 0 .5em #fff,
        1em -1.5em 0 .5em #fff,
        2.5em -1em 0 0 #fff,
        -2.5em -1em 0 0 #fff,
        0 .5em 0 .5em #fff,
        -3em .5em 0 .5em #fff,
        3em .5em 0 .5em #fff,
        1.5em 1em 0 0 #fff,
        -1.5em 1em 0 0 #fff,
            /* Crotch */
        .5em 3em 0 0 #fff,
        -.5em 3em 0 0 #fff,
            /* Right Leg */
        -1.5em 2em 0 0 #fff,
        -2.5em 3em 0 0 #fff,
        -3.5em 4em 0 0 #fff,
        -1.5em 4em 0 0 #fff,
            /* Left Leg */
        1.5em 2em 0 0 #fff,
        2.5em 3em 0 0 #fff,
        3.5em 4em 0 0 #fff,
        1.5em 4em 0 0 #fff;
    }
}

@keyframes space-invader-ufo {
    50% {
        margin-left: 150%
    }
}

@keyframes space-invader-1 {
    50% {
        box-shadow:
        0 0 0 1em #fff,
        0 1em 0 1em #fff,
        -2.5em 1.5em 0 .5em #fff,
        2.5em 1.5em 0 .5em #fff,
        -3em -3em 0 0 #fff,
        3em -3em 0 0 #fff,
        -2em -2em 0 0 #fff,
        2em -2em 0 0 #fff,
        -3em -1em 0 0 #fff,
        -2em -1em 0 0 #fff,
        2em -1em 0 0 #fff,
        3em -1em 0 0 #fff,
        -4em 0 0 0 #fff,
        -3em 0 0 0 #fff,
        3em 0 0 0 #fff,
        4em 0 0 0 #fff,
        -4em 1em 0 0 #fff,
        4em 1em 0 0 #fff,
        -3em 3em 0 0 #fff,
        3em 3em 0 0 #fff,
            /* Left Arm */
        5em 0 0 0 #fff,
        5em -1em 0 0 #fff,
        5em -2em 0 0 #fff,
            /* Right Arm */
        -5em 0 0 0 #fff,
        -5em -1em 0 0 #fff,
        -5em -2em 0 0 #fff,
            /* Left Foot */
        -4em 4em 0 0 #fff,
        -4em 4em 0 0 #fff,
            /* Right Foot */
        4em 4em 0 0 #fff,
        4em 4em 0 0 #fff;
    }
}

@keyframes space-invader-2 {
    50% {
        box-shadow:
            /* Body */
        -.5em -2em 0 1em #fff,
        .5em -2em 0 1em #fff,
        -3em -1.5em 0 .5em #fff,
        -3.5em -1.5em 0 .5em #fff,
        3em -1.5em 0 .5em #fff,
        3.5em -1.5em 0 .5em #fff,
        -4em 0 0 1em #fff,
        4em 0 0 1em #fff,
        -2em 1em 0 0 #fff,
        -1em 1em 0 0 #fff,
        0 1em 0 0 #fff,
        1em 1em 0 0 #fff,
        2em 1em 0 0 #fff,
            /* Crotch */
        1.25em 2em 0 0 #fff,
        2em 2em 0 0 #fff,
        2.5em 2em 0 0 #fff,
        -1.25em 2em 0 0 #fff,
        -2em 2em 0 0 #fff,
        -2.5em 2em 0 0 #fff,
        .25em 3em 0 0 #fff,
        -.25em 3em 0 0 #fff,
            /* Right Leg */
        -3em 3em 0 0 #fff,
        -3.75em 3em 0 0 #fff,
        -3em 4em 0 0 #fff,
        -2em 4em 0 0 #fff,
            /* Left Leg */
        3em 3em 0 0 #fff,
        3.75em 3em 0 0 #fff,
        3em 4em 0 0 #fff,
        2em 4em 0 0 #fff;
    }
}

@keyframes space-invader-3 {
    50% {
        box-shadow:
            /* Body */
        0 -2.5em 0 .5em #fff,
        -1em -1.5em 0 .5em #fff,
        1em -1.5em 0 .5em #fff,
        2.5em -1em 0 0 #fff,
        -2.5em -1em 0 0 #fff,
        0 .5em 0 .5em #fff,
        -3em .5em 0 .5em #fff,
        3em .5em 0 .5em #fff,
        1.5em 1em 0 0 #fff,
        -1.5em 1em 0 0 #fff,
            /* Crotch */
        .5em 3em 0 0 #fff,
        -.5em 3em 0 0 #fff,
            /* Right Leg */
        -1.5em 2em 0 0 #fff,
        -2.5em 3em 0 0 #fff,
        -3.5em 4em 0 0 #fff,
        -1.5em 4em 0 0 #fff,
            /* Left Leg */
        1.5em 2em 0 0 #fff,
        2.5em 3em 0 0 #fff,
        3.5em 4em 0 0 #fff,
        1.5em 4em 0 0 #fff;
    }
}