body {
  padding: 50px;
}
p {
  margin: 0px 0px 5.5px;
}
.ddn-budge-left {
  margin-right: 1em;
}
.ddn-budge-right {
  margin-left: 1em;
}
.ddn-va-bottom,
.ddn-va-bottom a,
.ddn-va-bottom span {
  vertical-align: bottom;
}
a,
a:active,
a:disabled,
a:focus,
a:hover,
a:link,
a:visited {
  outline: 0;
  border: 0;
}
a::-moz-focus-inner,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
  border: 0;
}
.ng-cloak {
  display: none !important;
}
.well {
  padding: 10px;
}
.navbar-inverse {
  background-color: #008cba;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #0079a1;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ebebeb;
}
.bg-primary,
.btn-primary {
  background-color: #008cba;
}
a.bg-primary:hover {
  background-color: #006687;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #006687;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #008cba;
}
.label-primary {
  background-color: #008cba;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #006687;
}
.panel-primary > .panel-heading {
  background-color: #008cba;
}
